@model ProjetoFinal.Models.Pedido

@{
    ViewData["Title"] = "Pedido";
}

<h1>Novo pedido</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteIdCliente" class="control-label">Selecione seu nome: </label>
                <select asp-for="ClienteIdCliente" class="form-control" asp-items="ViewBag.ClienteIdCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoIdProduto" class="control-label">Selecione o produto: </label>
                <select asp-for="ProdutoIdProduto" class="form-control" asp-items="ViewBag.ProdutoIdProduto"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Finalizar Compra" class="btn btn-primary" />
                <a class="btn btn-success" asp-controller="Produto" asp-action="Index">Produtos</a>
            </div>
        </form>
        <p>@Html.DisplayFor(model => model.DataPedido)</p>
    </div>
</div>


<div class="my-4">
    <p class="lead">Não encontrou seu nome na lista? Aproveite e <a asp-controller="Cliente" asp-action="Create">cadastre-se!</a></p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
