@model ProjetoFinal.Models.Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Novo pedido</h1>

<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteIdCliente" class="control-label"></label>
                <select asp-for="ClienteIdCliente" class="form-control" asp-items="ViewBag.ClienteIdCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoIdProduto" class="control-label"></label>
                <select asp-for="ProdutoIdProduto" class="form-control" asp-items="ViewBag.ProdutoIdProduto"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <p>@Html.DisplayFor(model => model.DataPedido)</p>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
