@model ProjetoFinal.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do pedido</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Data do Pedido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPedido)
        </dd>
        <dt class="col-sm-2">
            Prazo de Entrega
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrazoEntrega)
        </dd>
        <dt class="col-sm-2">
            ID Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPedido">Editar</a> |
    <a asp-action="Index">Voltar para Pedidos</a>
</div>
