@model IEnumerable<ProjetoFinal.Models.Pedido>

    @{
    ViewData["Title"] = "Index";
    }

    <h1 class="display-1">Pedido Finalizado com sucesso! Aguarde a confirmação por e-mail. Obrigado!</h1>


    
