@model ProjetoFinal.Models.Artesao

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Área do artesão</h1>



<div>
    <ul>
        <li><a asp-controller="Produto" asp-action="List">Produtos</a></li>
        <li><a asp-controller="Cliente" asp-action="Index">Clientes</a></li>
        <li> <a asp-controller="Pedido" asp-action="Index">Pedidos</a></li>
        <li><a asp-controller="Artesao" asp-action="Index">Artesãos</a></li>
        <li><a asp-controller="Suporte" asp-action="Index">Suporte</a></li>
        <li> <a asp-controller="Artesao" asp-action="Create">Cadastrar novo artesão</a></li>
    </ul>
</div>