name@{
    ViewData["Title"] = "Termos e Serviços";
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/servicos.css" />

<h2>Bem-vindo ao website “Patioba”, onde todos os serviços são ofertados por meio da pessoa física”…”, inscrito sob o CPF nº…, e RG nº…, endereço eletrônico…, com endereço para receber notificações na Rua…, CEP nº…, Cidade…, Estado…, representado nessa página eletrônica.</h2>
<br />
<h4>Avisamos previamente que ao acessar esse site você concorda tacitamente com as disposições contidas nesse documento, por isso muito atenção ao ler cada uma das cláusulas e obrigações dispostas a seguir:</h4>
<br />
<p>
    <ol>
        <li>
            Do Objeto
            <br/>
            Essa plataforma tem como finalidade de “e-commerce”, ou seja, disponibilizar a venda de produtos e serviços online disponibilizados na nossa plataforma ou aplicativo.
        </li>
        <li>
            Da reserva de produtos
            <ol>
                <li>O nosso website não trabalha com nenhuma possibilidade de reservar qualquer um dos produtos ofertados em nossa plataforma.</li>
                <li>O fato de o produto estar no carrinho de compras não é tido como uma reserva e não impossibilita que outras pessoas possam adquirir o produto e eles venham a se esgotar.</li>
            </ol>
        </li>
        <li>
            Das obrigações do cliente
            <ol>
                <li>O cliente deverá informar os dados de forma completa e correta no momento de cadastro em nossa plataforma.</li>
                <li>É responsabilidade do cliente qualquer erro na escrita ou na transmissão errônea dos dados.</li>
                <li>Para efetuar qualquer compra em nosso website ou adicionar produtos ao carrinho é necessário logar com o usuário e senha que foi fornecido no momento do cadastro.</li>
                <li>Não informar os seus dados de login a terceiros sob pena de ser responsabilizado por qualquer conduta advinda desse uso.</li>
                <li>Cada cliente só poderá efetuar um cadastro, não sendo aceito mais de uma conta por CPF.</li>
                <li>Usar a plataforma respeitando a ética, bons costumes, legislações e ordenamentos vigentes no país, sob pena de sofrer sanções.</li>
                <li>
                    Ser maior de idade (18 anos) e ter capacidade plena para realizar o cadastro e efetuar compras em nossa plataforma.
                    <ol>
                        <li>Se um menor de idade ou pessoa física sem capacidade plena vir a adquirir algum produto ou serviço ofertado em nossa plataforma, entenderemos que os responsáveis autorizaram, respondendo esses por toda e qualquer situação que advir, bem como pela compra.</li>
                    </ol>
                </li>
                <li>Não comentar ou enviar imagens nas avaliações que possam ir de encontro com a ética e o respeito, ou que tenha cunho difamatório, ofensivo, de ódio ou preconceituoso.</li>
                <li>O primeiro login de acesso será feito através de um link enviado para o seu e-mail cadastrado.</li>
                <li>Não fornecer qualquer informação falsa, fraudulenta ou que não seja correspondente aos seus dados.</li>
            </ol>>
        </li>
        <li>
            Das obrigações do proprietário do e-commerce
            <ol>
                <li>Informar de forma ostensiva e verdadeira sobre as características e especificações do produto disponível para venda de forma clara e completa. ( Ex: Cores, altura, material ou largura).</li>
                <li>Enviar os produtos dentro do prazo estabelecido.</li>
                <li>Disponibilizar uma plataforma segura.</li>
                <li>Disponibilizar imagens, áudios e vídeos informativos sobre os produtos ofertados, e condizentes com o que será entregue ao cliente.</li>
                <li>Emitir a nota fiscal do produto que será enviado e enviá-la ao cliente junto do produto.</li>
                <li>Informar como deve ocorrer o manuseio, a limpeza ou lavagem do produto e qualquer informação considerada relevante relacionada ao produto.</li>
            </ol>>
        </li>
        <li>
            Isenção de responsabilidade
            <ol>
                <li>Não nos responsabilizamos pelo mau uso ou manuseio errado do produto, bem como de qualquer dano que possa ocorrer na instalação de qualquer produto adquirido em nossa plataforma.</li>
                <li>Todos os produtos que vendemos estão dentro dos padrões e condições que vem de fábrica, do distribuidor ou da empresa que revendeu o produto.</li>
                <li>Fornecemos todas as informações pertinentes relacionadas ao produto, bem como os mesmos vão acompanhados de instruções de uso e cuidados em suas caixas ou através de manual de instruções.</li>
            </ol>
        </li>
        <li>
            Da Propriedade intelectual
            <ol>
                <li>Todo o design e paginação são de propriedade do nosso website, e foram desenvolvidos por um prestador de serviços que foi contratado para tal finalidade.</li>
                <li>
                    Toda imagem, ilustração, obras de arte, HTML, nomes comerciais, softwares ou vídeo disponibilizados em nossa plataforma por um dos gerenciadores da página são de nossa propriedade.
                    <ol>
                        <li>As imagens e vídeos são meramente ilustrativas, pois dependendo do monitor ou da tela do aparelho eletrônico o mesmo pode apresentar variação de cores ou tons.</li>
                    </ol>
                </li>
                <li>A logo, a marca e toda a aparência da webempresa/empresa são de nossa propriedade.</li>
                <li>É vedada a cópia sem autorização de qualquer imagem, vídeo, design, áudios, aparência ou descrições de produtos existentes em nossa web página, sob pena se responder por sanções quem desobedecer.</li>
                <li>
                    Não nos responsabilizamos por links externos que possam vir a aparecer em nossa página.
                    <ol>
                        <li>Há algumas áreas que poderão apresentar propagandas ou divulgação de links, mas não temos qualquer tipo de relação, por isso muito cuidado ao navegar por essas páginas e ao fornecer os seus dados, pois navegar por essas páginas é responsabilidade do usuário/cliente.</li>
                    </ol>
                </li>
                <li>Nada contido em nossa web página garante o direito a concessão de licença ou direito de uso sem o consentimento expresso de um dos gerenciadores da página ou do proprietário da página.</li>
                <li>O consentimento de cópia ou compartilhamento deve vir por escrito de forma clara e expressa.</li>
                <li>É vedado compartilhar, copiar, plagiar ou disponibilizar qualquer conteúdo, foto, vídeo ou áudio encontrado em nosso site sem consentimento expresso.</li>
            </ol>
        </li>
        <li>
            Formas de pagamento
            <ol>
            <li>As formas de pagamento aceitas em nosso e-commerce são cartão de crédito e débito, ou boleto bancário.</li>
            <li>
                <ol>    
                    <li>O boleto tem vencimento na data exposta no mesmo, não sendo aceito após a data de vencimento.</li>
                    <li>Se o boleto vencer e o pagamento não tiver sido efetuado, o produto voltará a ficar disponível para venda e será necessário realizar uma nova compra para adquiri-lo.</li>
                </ol>            
            </li>
            <li>O produto será enviado assim que o pagamento for processado, registrado e confirmado em nossa plataforma.</li>
            <li>Qualquer outra forma de pagamento não é aceita por nosso e-commerce.</li>
            <li>Cupons de descontos são aceitos, desde que tenhamos disponibilizados, estando sujeitos a esgotarem ou terem vigência cancelada a qualquer momento.</li>
            <li>Se o cliente quiser parcelar o produto em mais vezes deverá arcar com os juros da operadora.</li>
            <li>Para solicitar o estorno entre em contato com a nossa Central de Atendimento ou SAC.</li>
            </ol>
        </li>
        <li>
            Entrega e envio do produto
            <ol>
                <li>O produto será enviado assim que o pagamento for confirmado, podendo ser enviado até 3 dias após a confirmação do pagamento.</li>
                <li>Os custos de envio e entrega estarão dispostos no momento em que você estiver quase finalizando a compra, na aba de frete/entrega/envio, onde você informará o seu endereço e CEP.</li>
                <li>O cliente pagará pela entrega e o envio do produto com faixas pré-definidas, ou de acordo com o peso padrão da categoria.</li>
            </ol>
        </li>
        <li>
            Troca e devolução
            <ol>
                <li>
                    O cliente poderá devolver o produto ou trocar que foi adquirido em nosso e-commerce em até 7 dias, seja qual for a razão, conforme a previsão expressa no Código de Defesa do Consumidor em seu art. 49.
                    <ol>
                        <li>Para que ocorra a troca ou a devolução é necessário que o produto esteja conforme foi entregue, com todos os acessórios, manual e embalagem, caixa.</li>
                        <li>produto que será devolvido ou trocado não poderá apresentar qualquer marca de uso, como o produto estar trincado, riscado ou apresentar sinais de quedas.</li>
                    </ol>
                </li>
                <li>Se você requisitou a troca do produto o novo será enviado para o endereço e você será notificado sobre o envio via e-mail.</li>
                <li>
                    Se você solicitou o reembolso, a devolução do valor ocorrerá da forma como foi efetuado o pagamento.
                    <ol>
                        <li>Se foi via cartão de crédito ou débito o valor será creditado ou debitado na fatura atual ou na seguinte do cartão, pois informaremos a administradora do cartão.</li>
                        <li>Se o pagamento foi feito via boleto bancário, o valor de reembolso será restituído dentro de 30 dias úteis diretamente na conta que solicitaremos no momento de sua requisição de devolução.</li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            Política de Privacidade e Proteção de Dados
            <ol>
                <li>Você pode conferir a nossa política de privacidade no link de rodapé, onde informamos como ocorre a coleta e o tratamentos dos dados cadastrados em nosso site, bem como da navegação.</li>
            </ol>
        </li>
        <li>
            Do Foro
            <ol>
                <li>Fica eleito o foro da Cidade da nossa empresa, para dirimir quaisquer controvérsias, dúvidas, desentendimentos, litígios ou questões advindas da relação cliente e e-commerce, mesmo que possa existir algum local, por mais privilegiado que possa ser.</li>
            </ol>
        </li>
        <li>
            Do documento
            <ol>
                <li>Este documento foi feito pelo Advogado Diego Castro (OAB/PI 15.613) e foi modificado com permissão para uso neste site. Sua forma original pode ser encontrado no seu site.</li>
            </ol>        
        </li>
    </ol>
    É possível a utilização do modelo abaixo e sua modificação, desde que se mantenha um link de citação para a fonte e o autor, conforme o Creative Commons Attribution 4.0 International – Atribuição-NãoComercial CC BY-NC.
    <br /><br />
    Se você gostou desse modelo, também poderá gostar dos termos de uso para sites e blogs.
</p>