@model ProjetoFinal.Models.ItemPedido

@{
    ViewData["Title"] = "Delete";
}

<h1>Exclusão</h1>

<h3>Confirmar exclusão do item do pedido?</h3>
<div>
    <h4>Item do Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            ID Produto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProduto)
        </dd>
        <dt class="col-sm-2">
            ID Pedido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPedido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdItemPedido" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para Itens de Pedidos</a>
    </form>
</div>
