@model IEnumerable<ProjetoFinal.Models.Artesao>

@{
    ViewData["Title"] = "Cadastro finalizado";
}

<h1 class="display-1">Cadastro realziado com sucesso! Aguarde a confirmação por e-mail. Obrigado!</h1>
